* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;  
  color: #545454;
  background : #eee;
}


 .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 100%;
  height :100vh;
  background : #eee;
  color: #37384f;
  font-size: 2rem;
  
} 


.loading > span {
  display: block;
  width: 7px;
  height: 7px;
  background: #37384f;
  border-radius: 50%;
  margin : 3px;
  margin-top: 20px;
  animation: loading 0.6s infinite alternate;
  
}
.loading > span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading > span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loading {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
    background : pink;
  }
}

